<script>
  import { writable } from "svelte/store";

  /**
   * @template T
   * @param {string} key
   * @param {T} initialValue
   * @param {(_: T) => string} serialize
   * @param {(_: string) => T} deserialize
   * @return {import("svelte/store").Writable<T>}
   * */
  function lsStore(key, initialValue, serialize, deserialize) {
    const loadedValue = localStorage.getItem(key);
    const store = writable(
      loadedValue === null ? initialValue : deserialize(loadedValue)
    );
    store.subscribe((value) => localStorage.setItem(key, serialize(value)));
    return store;
  }

  const pcUrl = lsStore(
    "xivotp-pcUrl",
    "http://192.168.0.135:4646",
    (a) => a,
    (a) => a
  );
  const sendOnFilled = lsStore(
    "xivotp-sendOnFilled",
    true,
    JSON.stringify,
    JSON.parse
  );

  let otp = "";
  $: onOtpChanged(otp);
  
  /**
     * @param {string} value
     */
  function onOtpChanged(value) {
    otp = value.replaceAll(/\D/g, "");
    if ($sendOnFilled && otp.length === 6) {
      submit();
    }
  }

  function submit() {
    location.href = new URL(`/ffxivlauncher/${otp}`, $pcUrl).toString();
  }
</script>

<main>
  <h1>xivlauncher otp passthrough funny corner</h1>
  <form on:submit|preventDefault={submit}>
    <input name="totp" bind:value={otp} placeholder="141414" autocomplete="one-time-code" style:font-size="x-large" style:width="6ch" style:text-align="center">
    <details>
      <summary>Settings</summary>
      <p>
        <label for="url">Url base of your PC</label>
        <input name="url" type="url" bind:value={$pcUrl}>
      </p>
      <p>
        <input type="checkbox" bind:checked={$sendOnFilled}>
        <label for="sendOnFilled">Auto submit when 6 digits appear</label>
      </p>
    </details>
  </form>
</main>